<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Add product</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
  </head>
  <body>
    <div class="container m-1 p-4">
      <h1>Electron new product</h1>
    </br>
      <div class="row">
        <div class="col-12 form-group">
           <div class="">
             <label for="">Product´s name</label>
             <input type="text" name="" id="" class="form-control" placeholder="Product´s name" aria-describedby="helpId">
             <small id="helpId" class="text-muted">Help text</small>
           </div>
        </div>        
      </div>
    </div>
  </body>
</html>
