<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Add product</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
  </head>
  <body>
    <div class="container m-1 p-4">
      <h1>Electron new product</h1>
    </br>
    <form class="p-4">
        <div class="row">
            <div class="col-12 form-group">
                <label for="">Product´s name</label>
                <input type="text" name="product" id="product" class="form-control" placeholder="Product´s name" aria-describedby="helpId">
            </div>
        </div>
        <div class="row">
            <div class="col-12 form-group">
                <label for="">Price</label>
                <input type="text" name="price" id="price" class="form-control" placeholder="Product´s name" aria-describedby="helpId">
            </div>
        </div>
        <div class="row">
            <div class="col-12 form-group">
                <label for="">Description</label>
                <textarea class="form-control" id="description" name="description" placeholder="Description"></textarea>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-info btn-block">Save product</button>
        </div>
    </form>
    </div>
    <script>

        const { ipcRenderer } = require('electron');
        const form = document.querySelector('form');
        form.addEventListener('submit', e => {
            console.log('listten');
            
            const nameProduct = document.querySelector('#product').value;
            const priceProduct = document.querySelector('#price').value;
            const descriptionProduct = document.querySelector('#description').value;
            const json = { name: nameProduct, price: priceProduct, comment: descriptionProduct };
            console.log(json);
            ipcRenderer.send('product:new', json);

            e.preventDefault();
        })
    </script>
  </body>
</html>
